<template>
    <v-content>
        <v-layout>
          <v-row>
            <v-col>
          <v-card color="black" max-width="100%" > 
            <v-content color="grey lighten-3">
                <v-img contain height="160" src="../assets/img/callme.png"></v-img>
              <v-list-item>
                <v-list-item-content>
                  <v-layout>
                  </v-layout>
                  <v-list-item-title class="title white--text">
                    Contact
                  </v-list-item-title>
                  <v-list-item-subtitle class="white--text">
                    Phone numbers
                  </v-list-item-subtitle>
                  <v-divider class="grey"> </v-divider>
                  <v-list two-line>

                      <!--PHONE NUMBERS-->
                  <v-list-item>
                    <v-list-item-icon>
                        <v-icon color="black">mdi-phone</v-icon>
                    </v-list-item-icon>
  
                    <v-list-item-content>
                        <v-list-item-title>(044) 222-6786303</v-list-item-title>
                        <v-list-item-subtitle>Mobile</v-list-item-subtitle>
                    </v-list-item-content>
  
                    <v-list-item-icon>
                        <v-icon>mdi-message-text</v-icon>
                    </v-list-item-icon>
                  </v-list-item>
  
                  <v-list-item >
                    <v-icon color="black">mdi-phone</v-icon>
                    <v-list-item-action></v-list-item-action>

                    <v-list-item-content>
                     <v-list-item-title>(222) 244-5794</v-list-item-title>
                     <v-list-item-subtitle>House</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item >
                  </v-list>
                  <!-- END PHONE NUMBERS-->
                  </v-list-item-content>
              </v-list-item>
            </v-content>
            </v-card>
            </v-col>

            <!--SECOND CARD-->
            <v-col>
                <v-card relative color="black" max-width="100%">
                    <v-content>
                        <v-list-item>
                <v-list-item-content>
                  <v-layout >
                  </v-layout>
                  <v-list-item-title class="title white--text">
                    E-mail
                  </v-list-item-title>
                  <v-list-item-subtitle class="white--text">
                    E-mail contact
                  </v-list-item-subtitle>
                  <v-divider class="grey"> </v-divider>
                  <v-list two-line>

                      <!--E-MAIL CONTACT-->
                  <v-list-item>
                    <v-list-item-icon>
                        <v-icon color="black">mdi-email</v-icon>
                    </v-list-item-icon>
  
                    <v-list-item-content>
                        <v-list-item-title>haniminx@hotmail.com</v-list-item-title>
                        <v-list-item-subtitle>Outlook</v-list-item-subtitle>
                    </v-list-item-content>

                  </v-list-item>
  
                  <v-list-item >
                    <v-icon color="black">mdi-email</v-icon>
                    <v-list-item-action></v-list-item-action>

                    <v-list-item-content>
                     <v-list-item-title>haniminx@gmail.com</v-list-item-title>
                     <v-list-item-subtitle>Gmail</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item >
                  </v-list>
                  <!-- END E-MAIL CONTACT-->
                  </v-list-item-content>
              </v-list-item>
              <v-img contain height="160" src="../assets/img/call.png"></v-img>
                    </v-content>
                </v-card>
            </v-col>
          </v-row>
        </v-layout>
      </v-content>
</template>

<script>
export default {
    name: 'Contact'
}
</script>