<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex xs12>
        <v-img
          :src="require('../assets/img/ghb.png')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>

      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3" style="color:white;">
          Liliana Chacón Sánchez
        </h1>
        <p style="color:#2E7DFE" class="subheading font-weight-bold">
          For help and collaboration with other Vuetify developers,
          <br>please join our online
          <a style="color:white" href="https://community.vuetifyjs.com" target="_blank">Discord Community</a>
        </p>
      </v-flex>
      <v-flex
        mb-5
        xs12
      >
        <h2 style="color:white" class="headline font-weight-bold mb-3">What's next?</h2>

        <v-layout justify-center>
          <a style="color: white"
            v-for="(next, i) in whatsNext"
            :key="i"
            :href="next.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ next.text }}
          </a>
        </v-layout>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'HelloWorld',

  data: () => ({
    whatsNext: [
      {
        text: 'GITHUB',
        href: 'https://www.github.com/kitchenglin',
        img: '../assets/img/ghb.png'
      },
      {
        text: 'LINKEDIN',
        href: 'https://www.linkedin.com/in/liliana-chac%C3%B3n-697125a2/',
        img: '../assets/img/lkdb.png'
      },
      {
        text: 'FACEBOOK',
        href: 'https://www.facebook.com/KitthyGloOmiX',
        img: '../assets/img/fbb.png'
      },
    ],
  }),
};
</script>
