<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex xs12>
        <v-img
          :src="require('../assets/img/lili.jpg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>

      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3" style="color:white;">
          Liliana Chacón Sánchez
        </h1>
        <p style="color:white" class="subheading font-weight-bold">
          La experiencia que he adquirido en mis años de formación academica me posiciona positivamente como un candidato para trabajar en tu empresa.
          Tengo un gran interés en colaborar con compañías, lo que me permitirá seguir con el desarrollo de mi vida profesional, llegando a crecer a nivel laboral y personal.
        </p>
      </v-flex>
      <v-flex
        mb-5
        xs12
      >
        <h2 style="color:white" class="headline font-weight-bold mb-3">Follow me</h2>

        <v-layout justify-center>
          <a style="color: white"
            v-for="(next, i) in whatsNext"
            :key="i"
            :href="next.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ next.text }}
            <img :src="'../assets/img/${next.img}@.png'">
          </a>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Home',

  data: () => ({
    whatsNext: [
      {
        text: 'GITHUB',
        href: 'https://www.github.com/kitchenglin',
        img: 'ghb'
      },
      {
        text: 'LINKEDIN',
        href: 'https://www.linkedin.com/in/liliana-chac%C3%B3n-697125a2/',
        img: 'lkdb'
      },
      {
        text: 'FACEBOOK',
        href: 'https://www.facebook.com/KitthyGloOmiX',
        img: 'fbb'
      }
    ]
  })
};
</script>
