<template>
    <v-content>
        <v-layout>
        <v-card color="black" max-width="33.33%" style="margin-left:1vh; margin-top:1vh;">
            <v-content>
                <v-img class="my-2" contain height="160" src="../assets/img/lili.jpg"></v-img>
                <v-list-item>
                    <v-list-item-content>
                        <v-layout>
                        </v-layout>
                        <v-list-item-title class="white--text">
                            Profile
                        </v-list-item-title>
                        <v-list-item-subtitle class="white--text">
                            About me
                        </v-list-item-subtitle>
                        <v-divider class="grey"></v-divider>
                        <v-card>
                            <v-content>
                                <v-list-item v-for="(a,j) in about" v-bind:key="j">
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            {{a.title}}
                                        </v-list-item-title>
                                        <v-list-item-subtitle color="black--text">
                                            {{a.subtitle}}
                                        </v-list-item-subtitle>
                                        <v-divider></v-divider>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-content>
                        </v-card>
                    </v-list-item-content>
                </v-list-item>
            </v-content>
        </v-card>

        <!--Internship-->
        <v-card color="black" max-width="33.33%" style="margin-left:1vh; margin-top:1vh;">
            <v-content>
                <!--<v-img class="my-2" contain height="160" src="../assets/img/call.png"></v-img>-->
                <v-list-item>
                    <v-list-item-content>
                        <v-layout>
                        </v-layout>
                        <v-card>
                            <v-card-title>
                                 Professional internship
                             </v-card-title>
                             <v-card-subtitle>
                                 About internship
                             </v-card-subtitle>
                             <v-divider class="black"></v-divider>
                            <v-content>
                                <v-list-item v-for="(i,l) in intern" v-bind:key="l">
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            {{i.project}}
                                        </v-list-item-title>
                                        <v-list-item-subtitle color="black--text">
                                            {{i.location}}
                                        </v-list-item-subtitle>
                                        <v-list-item-subtitle color="black--text">
                                            {{i.task}}
                                        </v-list-item-subtitle>
                                        <v-list-item-subtitle color="black--text">
                                            {{i.time}}
                                        </v-list-item-subtitle>
                                        <v-divider></v-divider>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-content>
                        </v-card>

                         <v-card>
                             <v-card-title>
                                 Frameworks & Languages
                             </v-card-title>
                             <v-card-subtitle>
                                 About F & L
                             </v-card-subtitle>
                             <v-divider class="black"></v-divider>
                            <v-content>
                                <v-list-item v-for="(i,m) in fap" v-bind:key="m">
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            {{i.title}}
                                        </v-list-item-title>
                                        <v-list-item-subtitle color="black--text">
                                            {{i.subtitle}}
                                        </v-list-item-subtitle>
                                        <v-divider></v-divider>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-content>
                        </v-card>
                    </v-list-item-content>
                </v-list-item>
            </v-content>
        </v-card>


         <v-card color="black" max-width="33.33%" style="margin-left:1vh; margin-top:1vh; margin-right:1vh;">
            <v-content>
                <!--<v-img class="my-2" contain height="160" src="../assets/img/call.png"></v-img>-->
                <v-list-item>
                    <v-list-item-content>
                        <v-layout>
                        </v-layout>
                         <v-card>
                             <v-card-title>
                                 Courses
                             </v-card-title>
                             <v-card-subtitle>
                                 About courses
                             </v-card-subtitle>
                             <v-divider class="black"></v-divider>
                            <v-content>
                                <v-list-item v-for="(i,n) in courses" v-bind:key="n">
                                    <v-list-item-content>
                                        <v-list-item-title>
                                            {{i.course}}
                                        </v-list-item-title>
                                        <v-list-item-subtitle color="black--text">
                                            {{i.location}}
                                        </v-list-item-subtitle>
                                        <v-list-item-subtitle color="black--text">
                                            {{i.year}}
                                        </v-list-item-subtitle>
                                        <v-divider></v-divider>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-content>
                        </v-card>
                    </v-list-item-content>
                </v-list-item>
            </v-content>
        </v-card>

        </v-layout>
    </v-content>
</template>

<script>
export default {
    name: 'Profile',
    data() {
        return{
            about:[
                {
                    title: 'Liliana Chacón Sánchez',
                    subtitle: 'Full Name'
                },
                {
                    title: '02 March 1993',
                    subtitle: 'Birthday'
                },
                {
                    title: 'Female',
                    subtitle: 'Gender'
                },
                {
                    title: 'Frontend Development',
                    subtitle: 'Occupation'
                },
                {
                    title: 'Spanish',
                    subtitle: 'Language'
                },
                {
                    title: 'Puebla, Pue. Mexico',
                    subtitle: 'Location'
                },
                {
                    title: 'Cuitlahuac M6 L6 San Cristobal Tulcingo',
                    subtitle: 'Address'
                },
            ],
            intern:[
                {
                    project:'Reality 3d Viewer',
                    task:'Web Fron-end',
                    location:'Polyworks México Metrologia',
                    time: 'Ago-Dec',
                },
                {
                    project:'Diseño de Imagenes 3D',
                    task:'Software Development (MATLAB GUI)',
                    location:'Soluciones en electronica especializada y de potencia',
                    time: 'Jun-Ago'
                },
            ],
            courses:[
                {
                    course:'Hackeo de la web',
                    location:'Benemérita Universidad Autónoma de Puebla',
                    year: '2019',
                },
                {
                    course:'Hackeo desde cero con CTF',
                    location:'Benemérita Universidad Autónoma de Puebla',
                    year: '2019',
                },
                 {
                    course:'NDG Linux Essentials',
                    location:'Cisco Networking Academy',
                    year: '2018',
                },
                 {
                    course:'Django girls',
                    location:'Benemérita Universidad Autónoma de Puebla',
                    year: '2018',
                },
                 {
                    course:'NDG Linux Unhatched',
                    location:'Cisco Networking Academy',
                    year: '2017',
                },
                 {
                    course: 'CCNA R&S Routing and switching essentials',
                    location:'Cisco Networking Academy',
                    year: '2016',
                },
                {
                    course: 'CCNA R&S Introduccion to networks',
                    location:'Cisco Networking Academy',
                    year: '2015',
                },
                /*{
                    course: 'Programación con Python',
                    location:'Benemérita Universidad Autónoma de Puebla',
                    year: '2014',
                },
                 {
                    course: 'Comandos básicos de linux',
                    location:'Benemérita Universidad Autónoma de Puebla',
                    year: '2014',
                },*/
            ],
            fap:[
                {
                    title: 'Javascript, Three.js, Angular.js, HTML, CSS',
                    subtitle: 'Rank 8-10'
                },
                {
                    title: 'C, MATLAB',
                    subtitle: 'Rank 7-10'
                },
                {
                    title: 'Python, C++',
                    subtitle: 'Rank 6-10'
                },
                {
                    title: 'Java, Bash, PHP, Ensamblador',
                    subtitle: 'Ranck 5-10'
                },
            ],
        }
    },
}
</script>