<template>
  <v-app style="background-image: url(https://cdn.clipart.email/cb2637f23611ac125d6fc64a7754f483_why-black-hole-interiors-grow-forever-quanta-magazine_1600-900.gif); background-size:cover;">
    <v-content>
    <v-app-bar
      color="black"
      dark
    >

    <v-content v-for="(ic,i) in myicons" v-bind:key="i" class="text-center" absolute permanent right>
    <router-link :to="{path:ic.path}">
    <v-btn color="black">
    <v-icon>{{ic.mdi}}</v-icon>
    <span>{{ic.text}}</span>
    </v-btn>
    </router-link>
    </v-content>
    </v-app-bar>
    </v-content>
    <v-content>
    <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    myicons: [
      {
        mdi: 'mdi-home',
        text: 'Home',
        path: '/Home'
      },
      {
        mdi: 'mdi-account',
        text: 'Profile',
        path: '/Profile'
      },
      /*{
        mdi: 'mdi-briefcase',
        text: 'Projects',
        path: '/Projects'
      },*/
      {
        mdi: 'mdi-cellphone-basic',
        text: 'Contact',
        path: '/Contact'
      },
    ],
    aux:[],
    //
  }),
  methods:{
    value(){
    
    }
  }
};
</script>
